
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #222222;
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px;
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 20px;
}

h1 {
    color: #003366;
}


nav {
    margin-top: 20px;
}

nav a {
    color: #003366;
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    margin-top: 50px;
    text-align: center;
    color: #666666;
}
